<div class="container">
	<div class="row">
				<div class=col-sm-12>
					<div class="p-3 m-1 rounded bg-dark">
							<h1>
							  <%= @article.title %>
							</h1>
							<p>
							  <small class="text-muted">Posted on <%= @article.created_at.strftime("%B %d %Y, %l:%M%P") %></small>
							</p>
							<p>
							  <%= sanitize @article.text %>
							</p>
					</div>

					<br>

					<div >
						<h3>Comments:</h3>

							<%= render @article.comments %>


							<h3>Add a comment:</h3>
							<%= render 'comments/form' %>
					</div>

					<div>
						<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-outline-secondary" %>



						<%= link_to 'Back', articles_path, :class => "btn btn-outline-secondary"%>

				</div
	</div>




</div>
